
$border-color: rgba(255, 247, 8, 0.783);
$navbar-brand-padding-y: 0;
$color-amarillo-crema:  rgba(255, 247, 8, 0.783);
$navbar-dark-toggler-icon-bg: url("./assets/list.svg");
$navbar-dark-color: rgba(255, 255, 255, 0.679);
$dark: #000000;
$position-values: (
  1100: -100%,
  180: -80%,
  160: -60%,
  150: -50%,
  130: -30,
  0: 0,
  30: 30%,
  32: 32%,
  34: 34%,
  42: 42%,
  50: 50%,
  52: 52%,
  54: 54%,
  56: 56%,
  70: 70%,
  78: 78%,
  85: 85%,
  90: 90%,
  100: 100%
);

$font-size-base: 1rem;

$enable-rounded: false;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$h7-font-size:                $font-size-base*0.8;
$h8-font-size:                $font-size-base*0.6;
$h9-font-size:                $font-size-base*0.4;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h7-font-size,
  9: $h7-font-size
);

$form-select-color: #6c757d;


$utilities: (
    "border": (
      property: border,
      values: (
        null: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color),
        0: 0
      )
    ),

    "border-bottom": (
        property: border-bottom,
        state: hover,
        values: (
          null: var(--bs-border-width) var(--bs-border-style) $color-amarillo-crema,
          0: 0,
          50: 3px var(--bs-border-style) $color-amarillo-crema,
          101: 1px dotted #ffffff,
        )
      ),


    
);

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

// // Custom.scss
// // Option B: Include parts of Bootstrap

// // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "./node_modules/bootstrap/scss/functions";


// // 2. Include any default variable overrides here

// // 3. Include remainder of required Bootstrap stylesheets
// @import "./node_modules/bootstrap/scss/variables";

// // 4. Include any default map overrides here

// // 5. Include remainder of required parts
// @import "./node_modules/bootstrap/scss/maps";
// @import "./node_modules/bootstrap/scss/mixins";
// @import "./node_modules/bootstrap/scss/root";


// @import "./node_modules/bootstrap/scss/nav";
// @import "./node_modules/bootstrap/scss/navbar";
// // @import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "./node_modules/bootstrap/scss/bootstrap.scss";